* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 672px;
  padding: 40px 24px;
}

.content-l,
.content-m {
  margin: 0 auto;
  padding: 0 2%;
}

.content-l {
  max-width: 1024px;
}
@media screen and (max-width: 767px) {
  .content-l {
    max-width: 768px;
  }
}

.content-m {
  max-width: 768px;
}
@media screen and (max-width: 767px) {
  .content-m {
    max-width: 540px;
  }
}

h1 {
  color: #FF6600;
  font-size: 48px;
  line-height: 130%;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 120%;
  }
}

h2 {
  color: #FF6600;
  font-size: 32px;
  line-height: 100%;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 120%;
  }
}

h3 {
  color: #FF6600;
  font-size: 32px;
  line-height: 120%;
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #FF6600;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 767px) {
  h4 {
    font-size: 16px;
    line-height: 130%;
  }
}

h5 {
  color: #FF6600;
  font-size: 16px;
  line-height: 130%;
}
@media screen and (max-width: 767px) {
  h5 {
    font-size: 16px;
    line-height: 130%;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveRotate {
  0% {
    transform: translateX(0) rotate(-45deg);
  }
  50% {
    transform: translateX(8px) rotate(-45deg);
  }
  100% {
    transform: translateX(0) rotate(-45deg);
  }
}
.topic-item-icon svg {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .topic-item-icon svg {
    cursor: pointer;
    transition: 0.3s ease;
  }
  .topic-item-icon svg:hover {
    transform: scale(1.2);
  }
  .topic-item-icon svg [id*=arrow-top-right],
  .topic-item-icon svg [id*=arrow-top-left],
  .topic-item-icon svg [id*=arrow-bottom-right],
  .topic-item-icon svg [id*=arrow-bottom-left],
  .topic-item-icon svg [id*=line-up],
  .topic-item-icon svg [id*=line-down],
  .topic-item-icon svg [id*=line-center-up],
  .topic-item-icon svg [id*=line-center-down] {
    transition: 0.3s ease;
  }
  .topic-item-icon svg:hover [id*=arrow-top-right] {
    transform: translate(-4%, 4%);
  }
  .topic-item-icon svg:hover [id*=arrow-top-left] {
    transform: translate(4%, 4%);
  }
  .topic-item-icon svg:hover [id*=arrow-bottom-right] {
    transform: translate(-4%, -4%);
  }
  .topic-item-icon svg:hover [id*=arrow-bottom-left] {
    transform: translate(4%, -4%);
  }
  .topic-item-icon svg:hover [id*=line-up] {
    stroke-dashoffset: 4px;
    transform: translate(4%, -4%);
  }
  .topic-item-icon svg:hover [id*=line-down] {
    transform: translate(4%, 4%);
  }
  .topic-item-icon svg:hover [id*=line-center-up] {
    transform: translate(-8%, 0);
  }
  .topic-item-icon svg:hover [id*=line-center-down] {
    transform: translate(-8%, 0);
  }
}

main {
  background: url(/assets/img/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: #F1F0EF;
  font-size: 20px;
  line-height: 148%;
}
@media screen and (max-width: 767px) {
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }
}

.hero-container {
  height: 100%;
  max-height: 768px;
}
.hero-container .hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.hero-container .hero-content h1 {
  color: #F1F0EF;
  margin-bottom: 40px;
}
.hero-container .hero-content span {
  color: #FF6600;
}

.about-container,
.about-details-container,
.culture-container,
.leaders-container {
  position: relative;
}
.about-container::before,
.about-details-container::before,
.culture-container::before,
.leaders-container::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 30%;
  height: 50%;
  opacity: 0.8;
  border-radius: 100%;
  filter: blur(220px);
  background: #4F4844;
}

.about-content {
  margin: 40px auto;
}
.about-content h2 {
  margin-bottom: 40px;
}

.about-details-container {
  display: grid;
  place-items: center;
}

.about-details-content {
  margin: 40px auto;
}
.about-details-content .about-details-content-topics {
  margin-top: 40px;
}
.about-details-content .about-details-content-topics .about-details-content-topics-item {
  display: flex;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .about-details-content .about-details-content-topics .about-details-content-topics-item {
    flex-wrap: wrap;
  }
}
.about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-icon {
  min-width: 80px;
  height: 80px;
}
@media screen and (max-width: 767px) {
  .about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-icon {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-icon {
    margin: 0 48px;
  }
}
.about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-icon svg {
  width: 100%;
  animation: move 2s ease infinite;
}
.about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-content p:first-child {
  margin-bottom: 12px;
  color: #FF6600;
  font-weight: bold;
  font-size: 20px;
  line-height: 148%;
}
@media screen and (max-width: 767px) {
  .about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-content p:first-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }
}
.about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-content p:last-child {
  color: #A4A4A4;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .about-details-content .about-details-content-topics .about-details-content-topics-item .topic-item-content p:last-child {
    font-size: 14px;
    line-height: 150%;
  }
}

.culture-container {
  position: relative;
  padding-bottom: 120px;
}
.culture-container .culture-container-wrapper {
  display: flex;
  justify-content: end;
}
.culture-container .culture-container-wrapper img {
  position: absolute;
  top: 0;
  left: -8px;
  z-index: 0;
  filter: opacity(88%);
  height: 100%;
}
@media screen and (min-width: 1024px) and (max-width: 1820px) {
  .culture-container .culture-container-wrapper img {
    height: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .culture-container .culture-container-wrapper img {
    height: 60%;
  }
}
@media screen and (max-width: 767px) {
  .culture-container .culture-container-wrapper img {
    display: none;
  }
}
.culture-container .culture-container-wrapper .culture-content {
  position: relative;
  z-index: 1;
  margin-top: 180px;
  right: 0;
}
.culture-container .culture-container-wrapper .culture-content h4 {
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .culture-container .culture-container-wrapper .culture-content {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .culture-container .culture-container-wrapper .culture-content {
    max-width: 80%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1820px) {
  .culture-container .culture-container-wrapper .culture-content {
    max-width: 80%;
    margin-top: 224px;
  }
}

.services-container {
  text-align: center;
  background: url(/assets/img/services-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  padding: 40px 16px;
}
@media screen and (max-width: 767px) {
  .services-container {
    height: 120%;
  }
}
.services-container .services-content {
  margin-top: 80px;
  height: 100%;
}
.services-container .services-content .services-content-call h2 {
  margin-bottom: 24px;
  color: #F1F0EF;
}
.services-container .services-content .services-content-call h2 span {
  color: #FF6600;
}
.services-container .services-content .services-content-cards {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-container .services-content .services-content-cards .service-card-item {
  position: relative;
  margin: 40px auto;
  display: inline-block;
  background: #F1F0EF;
  text-align: center;
  padding: 32px 24px;
  border-radius: 24px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
}
.services-container .services-content .services-content-cards .service-card-item .service-card-item-icon {
  display: inline-block;
  padding: 16px;
  background: #F1F0EF;
  border-radius: 24px;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: -24px;
  border-bottom: 4px solid #FF6600;
  border-right: 4px solid #FF6600;
}
.services-container .services-content .services-content-cards .service-card-item .service-card-item-icon svg {
  padding: 8px;
  transform: rotate(-45deg);
  animation: moveRotate 2s ease infinite;
}
.services-container .services-content .services-content-cards .service-card-item h4 {
  margin-top: 96px;
}
.services-container .services-content .services-content-cards .service-card-item p {
  margin-top: 16px;
  font-size: 16px;
  color: #A4A4A4;
  font-weight: bold;
}
.services-container .services-content .services-content-cards .service-card-item:first-child, .services-container .services-content .services-content-cards .service-card-item:last-child {
  position: relative;
  top: 80px;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .services-container .services-content .services-content-cards .service-card-item:first-child, .services-container .services-content .services-content-cards .service-card-item:last-child {
    top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services-container .services-content .services-content-cards .service-card-item:first-child, .services-container .services-content .services-content-cards .service-card-item:last-child {
    top: 0;
  }
}

.techs-container {
  background: #E4E4E4;
}
.techs-container p {
  color: #A4A4A4;
}
.techs-container .techs-content {
  margin-top: 216px;
}
.techs-container .techs-content p {
  font-weight: bold;
}
.techs-container .techs-content p:last-child {
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  .techs-container .techs-content {
    margin-top: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .techs-container .techs-content {
    margin-top: 480px;
  }
}
.techs-container .techs-wrapper-container {
  background: #F1F0EF;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 32px 40px;
  margin: 64px auto 80px auto;
  text-align: center;
  height: 100%;
}
.techs-container .techs-wrapper-container h4 {
  color: #A4A4A4;
  margin-bottom: 40px;
}
.techs-container .techs-wrapper-container p {
  padding: 0 32px;
  font-weight: bold;
  margin: 16px auto 40px auto;
  font-size: 16px;
  line-height: 150%;
}
.techs-container .techs-wrapper-container .techs-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.techs-container .techs-wrapper-container .techs-wrapper .tech-item {
  margin: 16px 12px;
  padding: 8px;
  transition: 0.4s ease;
  cursor: pointer;
}
.techs-container .techs-wrapper-container .techs-wrapper .tech-item svg {
  width: 100%;
  max-height: 40px;
}
.techs-container .techs-wrapper-container .techs-wrapper .tech-item:hover {
  transform: scale(1.1);
}
.techs-container .techs-wrapper-container .techs-wrapper .tech-small svg {
  max-height: 24px;
}
.techs-container .techs-wrapper-container .techs-wrapper .tech-big svg {
  max-height: 56px;
}

.contact-us-container {
  background: url(/assets/img/contact-us-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  padding-top: 88px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-us-container .contact-us-content {
  text-align: center;
}
.contact-us-container .contact-us-content .contact-us-content-form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.contact-us-container .contact-us-content .contact-us-content-form input,
.contact-us-container .contact-us-content .contact-us-content-form textarea {
  margin: 8px auto;
}
.contact-us-container .contact-us-content .contact-us-content-form .custom-input {
  position: relative;
}
.contact-us-container .contact-us-content .contact-us-content-form .custom-input svg {
  position: absolute;
  left: 44px;
}
@media screen and (max-width: 767px) {
  .contact-us-container .contact-us-content .contact-us-content-form .custom-input svg {
    left: 32px;
  }
}
@media screen and (max-width: 540px) {
  .contact-us-container .contact-us-content .contact-us-content-form .custom-input svg {
    left: 16px;
  }
}
.contact-us-container .contact-us-content .contact-us-content-form .custom-input input {
  padding-left: 64px;
}
.contact-us-container .contact-us-content .contact-us-content-form .form-btn {
  max-width: 440px;
  width: 100%;
  margin: 16px auto;
}
.contact-us-container footer {
  margin-top: 88px;
  background-color: rgba(31, 25, 21, 0.8);
  padding: 40px;
}
.contact-us-container footer p {
  font-size: 14px;
  color: #A4A4A4;
}
.contact-us-container footer .footer-contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .contact-us-container footer .footer-contacts {
    justify-content: center;
  }
}
.contact-us-container footer .footer-contacts .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-container footer .footer-contacts .footer-social svg {
  margin: 4px 16px;
  transition: 0.2s ease;
}
.contact-us-container footer .footer-contacts .footer-social svg:hover {
  transform: scale(1.2);
  color: #FF7A22;
}
@media screen and (max-width: 767px) {
  .contact-us-container footer .footer-contacts .footer-social {
    width: 100%;
  }
}
.contact-us-container footer .footer-contacts .footer-address,
.contact-us-container footer .footer-contacts .footer-phone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contact-us-container footer .footer-contacts .footer-address p,
.contact-us-container footer .footer-contacts .footer-phone p {
  margin: 0 16px;
  color: #F1F0EF;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .contact-us-container footer .footer-contacts .footer-address,
  .contact-us-container footer .footer-contacts .footer-phone {
    width: 100%;
    margin-top: 32px;
  }
}
.contact-us-container footer .footer-copyright {
  margin-top: 40px;
  text-align: center;
}

a {
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #A4A4A4;
  transition: 0.4s ease;
}
a:hover {
  color: #F1F0EF;
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  background-color: #FF6600;
  border: none;
  padding: 0 24px;
  color: #F1F0EF;
  font-weight: bold;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  height: 60px;
  transition: 0.6s ease;
  font-size: 20px;
  line-height: 148%;
}
@media screen and (max-width: 767px) {
  .btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }
}
.btn:hover {
  background: #FF7A22;
}

input,
textarea {
  padding: 8px 24px;
  font-size: 16px;
  border-radius: 8px;
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  outline-color: #FF6600;
  outline-width: 2px;
  border: 2px solid #F1F0EF;
  font-family: "Montserrat", sans-serif;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

input {
  height: 60px;
}

textarea {
  padding: 24px;
  resize: none;
  height: 120px;
}

.pictures-swiper-container {
  margin-top: 136px;
  height: 180px;
  width: 108%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.pictures-swiper-container .swiper-wrapper {
  transition: 0.4s ease;
}
.pictures-swiper-container .swiper-wrapper:hover {
  opacity: 1;
}
.pictures-swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  display: inline-flex;
  max-width: 324px;
  transform: translateY(8%);
}
.pictures-swiper-container .swiper-wrapper .swiper-slide img {
  border-radius: 16px;
  transition: 0.4s ease;
}
.pictures-swiper-container .swiper-wrapper .swiper-slide img:hover {
  box-shadow: 0 4px 88px #4F4844;
  transform: scale(1.02);
}
.pictures-swiper-container .swiper-wrapper .pic-top {
  transform: translateY(-8%);
}
.pictures-swiper-container .swiper-wrapper:hover > :not(:hover) img {
  opacity: 0.4;
  filter: grayscale(10);
}

.companies-slider {
  overflow: hidden;
  width: 108%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  margin-top: 56px;
  padding: 40px;
  text-align: center;
  opacity: 0.9;
}
.companies-slider p {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}
.companies-slider .swiper-wrapper {
  transition: 0.4s ease;
}
.companies-slider .swiper-wrapper:hover > :not(:hover) img {
  opacity: 0.4;
  filter: grayscale(10);
}
.companies-slider .swiper-slide {
  text-align: center;
  max-width: 216px;
}
.companies-slider .swiper-slide img {
  transition: 0.4s ease;
  margin: 0 auto;
  height: 48px;
}
.companies-slider .swiper-arrow {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.leaders-container {
  margin-bottom: 104px;
  padding: 88px 0;
}
.leaders-container .leaders-swiper-container .swiper-wrapper .swiper-slide {
  padding: 40px;
  border-radius: 16px;
}
.leaders-container .leaders-swiper-container .swiper-wrapper .swiper-slide .leader-card-header {
  display: flex;
  align-items: center;
  justify-content: left;
}
.leaders-container .leaders-swiper-container .swiper-wrapper .swiper-slide .leader-card-header .leader-card-header-title {
  margin: 32px;
}
.leaders-container .leaders-swiper-container .swiper-wrapper .swiper-slide .leader-card-header .leader-card-header-title h5 {
  color: #A4A4A4;
}
.leaders-container .leaders-swiper-container .swiper-wrapper .swiper-slide img {
  border-radius: 100px;
  height: 100%;
  max-height: 80px;
  border: 4px solid #FF6600;
}
.leaders-container .leaders-swiper-container .swiper-wrapper .swiper-slide p {
  margin-top: 8px;
  color: #A4A4A4;
  font-size: 16px;
  line-height: 150%;
}
.leaders-container .leaders-swiper-container .swiper-arrow-buttons {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 8px;
  margin-top: 40px;
  width: 100%;
}
.leaders-container .leaders-swiper-container .swiper-arrow-buttons > ::after {
  color: #FF6600;
  font-size: 1.8rem;
}
.leaders-container .leaders-swiper-container .swiper-arrow-buttons .swiper-button-prev {
  left: 50%;
}
.leaders-container .leaders-swiper-container .swiper-arrow-buttons .swiper-button-next {
  left: calc(50% + 32px);
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #1F1915;
  overflow-x: hidden;
}

svg,
img {
  display: block;
  height: 100%;
}

header {
  padding: 16px 0;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 999;
  transition: 0.4s ease;
}

.active-header {
  background-color: rgba(31, 25, 21, 0.95);
}

.navbar-desktop {
  margin: 0 auto;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  z-index: 999;
  height: 48px;
  transition: 0.4s ease;
}
.logo:hover {
  color: #F1F0EF;
  transform: scale(1.05);
}

.menu-desktop {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-desktop .menu-item {
  margin-left: 8px;
}

.menu-item-link {
  display: inline-block;
  padding: 8px 16px;
}

.menu-item:last-child {
  border-radius: 24px;
  border: 2px solid #FF6600;
  transition: 0.4s ease;
}
@media screen and (max-width: 767px) {
  .menu-item:last-child {
    margin-top: 16px;
  }
}
.menu-item:last-child:hover {
  border-color: #FF7A22;
}
.menu-item:last-child a {
  color: #FF6600;
  transition: 0.4s ease;
}
.menu-item:last-child a:hover {
  color: #FF7A22;
}

.navbar-mobile {
  margin: 0 auto;
  padding: 8px 16px;
  display: none;
}
@media screen and (max-width: 767px) {
  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.bx {
  width: 32px;
  height: 32px;
  position: relative;
  transition: 0.8s ease;
  cursor: pointer;
}
.bx::after {
  content: "";
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background: #F1F0EF;
  transition: 0.6s ease;
}
.bx::before {
  content: "";
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background: #F1F0EF;
  transition: 0.6s ease;
}

.active-bx {
  width: 32px;
  height: 32px;
  position: relative;
}
.active-bx::after {
  content: "";
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%) rotate(-135deg);
  width: 70%;
  height: 2px;
}
.active-bx::before {
  content: "";
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%) rotate(315deg);
  width: 70%;
  height: 2px;
}

.menu-mobile {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  background: #231D19;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.menu-mobile-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  transform: translateY(-8%);
}
.menu-mobile-items .menu-item-link {
  font-size: 32px;
  line-height: 120%;
}/*# sourceMappingURL=style.css.map */